<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="text-center"><%= @service.title %></h3>
      </div>

      <div class="panel-body">
        <%= image_tag(@service.image.url, class: "img-responsive") %>
      </div>

    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="text-center">About this gig</h3>
      </div>
      <div class="panel-body">
        <p><%= @service.description %></p>
      </div>
    </div>

    <%= render 'reviews/form' if @is_buyer && !@reviewed %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Reviews</h3>
      </div>
      <div class="panel-body">
        <%= render 'reviews/list' %>
      </div>
    </div>
  </div>
  <div class="col-md-4">

    <%= render "orders/form" %>

    <div class="panel panel-default">
      <div class="panel-body">
        <h5 class="pull-left">
          <%= pluralize(@service.reviews.count, "Buyer review") %>
        </h5>
        <h4 class="pull-right">
          <%= @service.average_rating %>
        </h4>
        <div id="average_rating" class="pull-right img-average-rating-stars">
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="text-center">Seller information</h3>
      </div>
      <div class="panel-body">
        <center>
          <%= image_tag get_avatar_url(@service.user, 128), class: "img-circle img-responsive" %>
          <h3><%= @service.user.fullname %></h3>
        </center>
        <%= @service.user.description %>
      </div>
    </div>
  </div>
</div>

<script>
  $("#average_rating").raty({
    path: '/assets',
    readOnly: true,
    score: <%= @service.average_rating.to_i %>
  });
</script>
