<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="text-center"><%= @service.title %></h3>
      </div>

      <div class="panel-body">
        <%= image_tag(@service.image.url, class: "img-responsive") %>
      </div>

    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="text-center">About this gig</h3>
      </div>
      <div class="panel-body">
        <p><%= @service.description %></p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Reviews</h3>
      </div>
      <div class="panel-body">
        
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= render "orders/form" %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="text-center">Seller information</h3>
      </div>
      <div class="panel-body">
        <center>
          <%= image_tag get_avatar_url(@service.user, 128), class: "img-circle img-responsive" %>
          <h3><%= @service.user.fullname %></h3>
        </center>
        <%= @service.user.description %>
      </div>
    </div>
  </div>
</div>
