<div class="jumbotron">
  <div class="overlay">
    <div class="container">

      <div class="row">
        <h1>What do you need completed?</h1>
        <br>
        <h2>Browse. Buy. Done.</h2>
      </div><!-- row -->

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form>
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" placeholder="What are you looking for...">
              <span class="input-group-btn">
                <button type="button" class="btn btn-success">Search</button>
              </span>
            </div><!-- input-group -->
          </form>
        </div><!-- col-md-6 -->
      </div><!-- row -->

    </div><!-- container -->
  </div><!-- overlay -->
</div><!-- hero -->

<div class="container section">

  <h1 class="text-center">Newest Gigs</h1>
  <hr>
  <div class="row">

    <% @services.each do |service| %>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
          <%= link_to(service) do %>
            <div class="panel-heading fill">
              <%= image_tag(service.image.url(:medium), class: "img-responsive") %>
            </div>
            <div class="panel-body fill">
              <h3><%= service.title %></h3>
              <h4>$<%= service.price %></h4>
              <div class="panel-primary-overlay-up">
                <div class="padding-left-15">
                  <h3><%= service.requirements %></h3>
                  <h3><%= pluralize(service.revisions, "revision") + " allowed" %></h3>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <!--     <div class="col-xs-3">
    <div class="gig-card">
    <%= image_tag('blog.jpg') %>
    <h4>I will write 300 word blog posts</h4>
    <h3>$5</h3> -->
    <!-- </div>gig-card -->
    <!-- </div>col-md-3 -->

    <!-- <div class="col-xs-6 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading fill">
          <%= image_tag('blog.jpg', class: "img-responsive") %>
        </div>
        <div class="panel-body fill">
          <h3>I will write 300 word blog posts</h3>
          <h4>$5</h4>
          <div class="panel-primary-overlay-up">
            <div class="padding-left-15">
              <h3>Need at least 3 days turn around time and the subject titles.</h3>
              <h3>3 revisions allowed</h3>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="col-xs-6 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading fill">
          <%= image_tag('data.jpg', class: "img-responsive") %>
        </div>
        <div class="panel-body fill">
          <h3>I will be your virtual assistant for data entry</h3>
          <h4>$10</h4>
          <div class="panel-primary-overlay-up">
            <div class="padding-left-15">
              <h3>Need at least 3 days turn around time and the subject titles.</h3>
              <h3>3 revisions allowed</h3>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="col-xs-6 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading fill">
          <%= image_tag('copywrite.jpg', class: "img-responsive") %>
        </div>
        <div class="panel-body fill">
          <h3>I will copywrite for your website</h3>
          <h4>$15</h4>
          <div class="panel-primary-overlay-up">
            <div class="padding-left-15">
              <h3>Need at least 3 days turn around time and the subject titles.</h3>
              <h3>3 revisions allowed</h3>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="col-xs-6 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading fill">
          <%= image_tag('lyrics.jpg', class: "img-responsive") %>
        </div>
        <div class="panel-body fill">
          <h3>I will create a song for your lyrics</h3>
          <h4>$20</h4>
          <div class="panel-primary-overlay-up">
            <div class="padding-left-15">
              <h3>Need at least 3 days turn around time and the subject titles.</h3>
              <h3>3 revisions allowed</h3>
            </div>
          </div>
        </div>
      </div>
    </div> -->

  </div><!-- row -->
</div><!-- container -->
